/*element styles */
nav li:first-child {
  margin-left: 0px;
}
/* end element styles*/
/*media queries */
/*mobile */
@media screen and (max-width: 1550px) {
  .nui-nav ul {
    width: 100%;
  }
  .nui-nav ul li {
    color: #009E41;
    background-color: #000000;
    list-style: none;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 2.0em;
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;
    text-align: center;
    margin: 0 0 5px 0;
    padding: 0 0 0 0;
  }
  .nui-nav ul li a {
    color: #009E41;
    background-color: #000000;
    width: 100%;
    display: block;
    height: 50px;
  }
  ul.nui-nav-right {
    list-style: none;
    display: block;
    font-size: 1em;
  }
  ul.nui-nav-right li {
    display: block;
    float: left;
    color: #000000;
    background-color: white;
    cursor: default;
  }
  ul.nui-nav-right input {
    min-width: 40px;
    padding-left: 10px;
    color: #009E41;
    border-color: #000000;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
  }
  ul.nui-nav-right li label.fineprint {
    font-size: .25em;
  }
}
/*desktop*/
@media screen and (min-width: 1550px) {
  /* nav list styles*/
  .nui-nav ul li {
    cursor: pointer;
    color: #009E41;
    background-color: #000000;
    height: 100px;
    width: 150px;
    list-style: none;
    display: inline;
    font-size: 2.0em;
    font-family: 'Orbitron', sans-serif;
    padding: 10px;
    overflow: hidden;
    text-align: center;
  }
  .nui-nav ul.nav-left {
    float: left;
  }
  .nui-nav ul.nav-right {
    float: right;
  }
  .nui-nav ul li a {
    color: #009E41;
    background-color: #000000;
    height: 100px;
    width: 100%;
  }
  /*main nav styles*/
  .nui-nav {
    height: 110px;
    width: 100%;
    overflow: hidden;
    margin: 0;
  }
  ul.nui-nav-right {
    float: right;
    list-style: none;
    display: inline;
    font-size: 1em;
  }
  ul.nui-nav-right li {
    display: inline;
    color: #000000;
    background-color: white;
    cursor: default;
  }
  ul.nui-nav-right input {
    min-width: 40px;
    max-width: 80px;
    padding-left: 10px;
    color: #009E41;
    border-color: #000000;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
  }
  ul.nui-nav-right li label.fineprint {
    font-size: .25em;
  }
}
.nui-nav ul li a:hover {
  color: #FFFFFF;
}
.nui-link {
  color: #009E41;
  background-color: #000000;
  height: 100px;
}
/* end media queries */
.nui-nav ul li:first-child a {
  background-color: #FFFFFF;
  height: 100px;
}
/*For first children, image links*/
.nui-image-link {
  background-color: #FFFFFF;
  height: 100px;
}
.nui-nav ul li:first-child {
  background-color: #FFFFFF;
  height: 100px;
}
.logo {
  height: 75px;
  width: auto;
}
.page-section {
  float: left;
  display: block;
  margin: 5px 5px 5px 5px;
  clear: both;
  width: 100%;
}
/*nui styles*/
/* global styles */
/* form styles */
.nui-container table,
.nui-container label,
.nui-container input,
.nui-container h1,
.nui-container h2,
.nui-container h3,
.nui-container h4,
.nui-container h5,
.nui-container h6 {
  margin: 0 0 0 20px;
}
.nui-form-spacing {
  margin: 0 0 0 20px;
}
.nui-fineprint {
  font-size: 0.5em;
  color: #000000;
}
.nui-form label {
  display: inline-block;
  min-width: 200px;
  color: #009E41;
  font-size: 2.5em;
  font-family: 'Jura', sans-serif;
  margin: 0 0 0 20px;
}
.nui-rounded {
  color: #009E41;
  border-color: #000000;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}
.nui-form input {
  margin: 0 0 0 20px;
  display: inline-block;
  padding-left: 20px;
  border-radius: 2em;
  min-width: 300px;
  color: #009E41;
  border-color: #000000;
  font-size: 2.5em;
  font-family: 'Jura', sans-serif;
}
.nui-form textarea {
  margin: 0 0 0 20px;
  display: inline-block;
  padding-left: 20px;
  border-radius: 2em;
  min-width: 300px;
  color: #009E41;
  border-color: #000000;
  font-size: 2.5em;
  font-family: 'Jura', sans-serif;
}
.nui-form input:focus {
  outline-width: 0;
}
.nui-form select {
  margin: 0 0 0 20px;
  width: 200px;
  font-weight: bold;
  font-size: 1em;
}
.nui-form-group {
  margin: 10px 0 10px 0;
  display: block;
}
.nui-form-group .mce-tinymce {
  margin: 20px 0 20px 20px;
}
.nui-code-mirror {
  margin-left: 20px;
}
.nui-form-group textarea {
  margin-left: 20px;
}
.nui-form-group .CodeMirror-Scroll {
  margin-left: 20px;
}
.nui-form-group .CodeMirror {
  margin-left: 20px;
}
.nui-add-button {
  width: 40px;
  height: 40px;
  background-size: 100%;
  border: 0;
  background: url("../img/Add.png") no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-left: 20px;
}
.nui-site-icon {
  width: 80px;
  height: 80px;
  background-size: 100%;
  border: 0;
  background: url("../img/NdSite.png") no-repeat;
  background-size: contain;
}
.nui-delete-button {
  width: 30px;
  height: 30px;
  background-size: 100%;
  border: 0;
  background: url("../img/Delete.png") no-repeat;
  background-size: contain;
  cursor: pointer;
}
.nui-invert {
  color: #009E41;
  background-color: #000000;
}
/* nui border styles*/
.nui-dynamic-border {
  border: 5px solid;
  border-right-width: 0px;
  border-left-width: 0px;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(#009e41)) 10 10 10 10;
  -webkit-border-image: -webkit-linear-gradient(to left, black, #009e41) 10 10 10 10;
  -moz-border-image: -moz-linear-gradient(to left, black, #009e41) 10 10 10 10;
  -o-border-image: -o-linear-gradient(to left, black, #009e41) 10 10 10 10;
  border-image: linear-gradient(to left, black, #009e41) 10 10 10 10;
}
/*highlight button effects*/
.nui-off-highlight-button {
  background-color: #009E41;
  color: #FFFFFF;
  border: 2px solid #000000;
}
.nui-contrast-highlight-button {
  /*contrast style of highlight buttonf*/
  background-color: #000000;
  color: #FFFFFF;
  border: 2px solid #000000;
}
.nui-highlight-button {
  color: #009E41;
  background-color: #000000;
  border: 2px solid #000000;
}
.nui-highlight {
  border: 2px solid #000000;
  margin: 5px 0 0 5px;
  cursor: pointer;
  padding: 5px;
  backface-visibility: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  transform: translateZ(0px);
  transition-duration: 0.5s;
  transition-property: color, background-color;
  vertical-align: middle;
}
.nui-highlight:hover {
  /*contrast style of highlight buttonf*/
  background-color: #000000;
  color: #FFFFFF;
  border: 2px solid #000000;
}
/*end highlight button effects*/
/*check box styles*/
/* .nui-check rounded checkbox with gradient */
.nui-check {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
}
.nui-check input[type=checkbox] {
  visibility: hidden;
}
.nui-check input[type=checkbox]:checked {
  opacity: 1;
}
/* end nui styles*/
#star-pane {
  height: 100px;
}
#description-pane {
  height: 400px;
}
.nui-bootstrap-footer {
  color: #009E41;
  background-color: #000000;
  position: fixed;
  bottom: 0;
  left: 5px;
  font-family: 'Orbitron', sans-serif;
  width: 100%;
  height: 50px;
}
.primary {
  color: #009E41;
}
.light {
  color: #009E41;
}
.oblack {
  color: #000000;
}
#main-nav {
  z-index: 3;
  position: relative;
  height: 170px;
  border-bottom-style: solid;
  border-width: 3px;
  border-radius: 20%;
  border-color: #000000;
}
.ContentBorder {
  border-bottom-style: solid;
  border-width: 3px;
  border-radius: 20%;
  border-color: #000000;
}
.nui-image-box {
  max-width: 680px;
  max-height: 680px;
  width: auto;
  height: auto;
}
.SearchBorder {
  border-color: #009E41;
  border-width: 3px;
  border-bottom-style: solid;
}
.navlist {
  width: 80%;
  float: left;
}
.social-list {
  width: 20%;
  float: right;
}
.social-ico {
  height: 50px;
  overflow: hidden;
  cursor: pointer;
}
.image-thumb {
  height: 500px;
}
nav a:link {
  color: black;
  text-decoration: none;
}
nav a:hover {
  color: #009E41;
}
.h1 {
  font-family: 'Homenaje', sans-serif;
}
.main-text {
  font-family: 'Jura', sans-serif;
  color: #000000;
  font-size: 1.5em;
}
body p {
  font-family: 'Jura', sans-serif;
  color: #000000;
  font-size: 1.5em;
}
body h1 {
  font-size: 3em;
  color: #009E41;
  font-family: 'Orbitron', sans-serif;
}
body h2 {
  font-size: 2.5em;
  color: #009E41;
  font-family: 'Orbitron', sans-serif;
}
body h3 {
  font-size: 2.0em;
  color: #009E41;
  font-family: 'Orbitron', sans-serif;
}
/*angular grid class dimensions*/
.myGrid {
  width: 500px;
  height: 250px;
}
/* Reset Styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
dir {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
