@primary : #009E41;
@owhite : #FFFFFF;
@oblack : #000000;
@primaryinvert : #009E41;


@headerfont:'Orbitron', sans-serif;
@bodyfont: 'Jura', sans-serif;
@gridblock: 50px;
@block : 5px;

.logo

{
height:150px;
}

.page-section
{
  float:left;
  display:block;
  margin: @block @block @block @block;
  clear:both;
}

.nui-nav ul li:first-child
{
  background-color: @owhite;
}

.nui-nav ul li
{
  cursor:pointer;
  background-color: @oblack;
  color: @primaryinvert;
  height: @gridblock * 2;
}

.nui-nav
{
  height: @gridblock * 2;
}
#star-pane
{
  height: @gridblock * 2;
}

#description-pane
{
  height : @gridblock * 8;
}



.nui-bootstrap-footer
{
  position: absolute;
  bottom: @gridblock;
  left: @block;
  font-family:@headerfont;

}

.primary 

{

color:@primary

}



.light

{

color: @primary

}





.oblack

{

color: @oblack;

}



#main-nav

{

z-index: 3;

position:relative;

height:170px;

.ContentBorder

}



.ContentBorder

{

border-bottom-style:solid;

border-width: 3px;

border-radius: 20%;

border-color: @oblack;

}



.SearchBorder

{

  border-color:@primary;

  border-width: 3px;

  border-bottom-style:solid;

}

.navlist

{

  width:80%;

  float:left;

}

.social-list

{

width:20%;

float:right;



}



.social-ico

{

  height:50px;

  overflow:hidden;

  cursor:pointer;

}



.image-thumb

{

  height: @gridblock * 10;

}



nav a:link

{

color:black;

text-decoration: none;

}



nav a:hover

{

color:@primary;

}



nav li

{

list-style:none;

display:inline;

font-size: 2.5em;

font-family: @headerfont;

margin-left:5%;

}





nav li:first-child

{

margin-left:none;

}

.h1

{

font-family: 'Homenaje', sans-serif;

}



.main-text

{

  font-family: @bodyfont;

  color: @oblack;

  font-size: 1.5em;



}

body p

{

.main-text

}





body h1

{

  font-size: 3em;

  color: @primary;

  font-family: @headerfont;

}



body h2

{

  font-size: 2.5em;

  color: @primary;

  font-family: @headerfont;

}



body h3

{

  font-size: 2.0em;

  color: @primary;

  font-family: @headerfont;

}







::-webkit-scrollbar

{



}       

::-webkit-scrollbar-button       

{



}

::-webkit-scrollbar-track      

{





}



::-webkit-scrollbar-track-piece  

{





}

::-webkit-scrollbar-thumb       

{





}

::-webkit-scrollbar-corner       

{



}



::-webkit-resizer  

{





}

