


.nui-upload-container
{
    width: 100%;
    max-width: 680px; /* 800 */
    text-align: center;
    margin: 0 auto;
}

.nui-upload-container h1
{
    font-size: 42px;
    font-weight: 300;
    color: #113D23;
    margin-bottom: 40px;
}
.nui-upload-container h1 a:hover,
.container h1 a:focus
{
    color: #009E41;
}

.nui-upload-container nav
{
    margin-bottom: 40px;
}
.nui-upload-container nav a
{
    border-bottom: 2px solid #c8dadf;
    display: inline-block;
    padding: 4px 8px;
    margin: 0 5px;
}
.nui-upload-container nav a.is-selected
{
    font-weight: 700;
    color: #009E41;
    border-bottom-color: currentColor;
}
.nui-upload-container nav a:not( .is-selected ):hover,
.nui-upload-container nav a:not( .is-selected ):focus
{
    border-bottom-color: #113D23;
}

.nui-upload-container footer
{
    color: #92b0b3;
    margin-top: 40px;
}
.nui-upload-container footer p + p
{
    margin-top: 1em;
}
.nui-upload-container footer a:hover,
.nui-upload-container footer a:focus
{
    color: #009E41;
}

.nui-upload-box
{
    font-size: 1.25rem; /* 20 */
    background-color: #c8dadf;
    position: relative;
    padding: 100px 20px;
}
.nui-upload-box.has-advanced-upload
{
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;

    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.nui-upload-box.is-dragover
{
    outline-offset: -20px;
    outline-color: #c8dadf;
    background-color: #fff;
}
.box-dragndrop,
.box-icon
{
    display: none;
}
.nui-upload-box.has-advanced-upload .box-dragndrop
{
    display: inline;
}
.nui-upload-box.has-advanced-upload .box-icon
{
    width: 100%;
    height: 80px;
    fill: #92b0b3;
    display: block;
    margin-bottom: 40px;
}

.nui-upload-box.is-uploading .box-input,
.nui-upload-box.is-success .box-input,
.nui-upload-box.is-error .box-input
{
    visibility: hidden;
}

.box-uploading,
.box-success,
.box-error
{
    display: none;
}
.nui-upload-box.is-uploading .box-uploading,
.nui-upload-box.is-success .box-success,
.nui-upload-box.is-error .box-error
{
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    -webkit-transform: translateY( -50% );
    transform: translateY( -50% );
}
.box-uploading
{
    font-style: italic;
}
.box-success
{
    -webkit-animation: appear-from-inside .25s ease-in-out;
    animation: appear-from-inside .25s ease-in-out;
}
@-webkit-keyframes appear-from-inside
{
    from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
    75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
    to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
}
@keyframes appear-from-inside
{
    from	{ transform: translateY( -50% ) scale( 0 ); }
    75%		{ transform: translateY( -50% ) scale( 1.1 ); }
    to		{ transform: translateY( -50% ) scale( 1 ); }
}

.box-restart
{
    font-weight: 700;
}
.box-restart:focus,
.box-restart:hover
{
    color: #009E41;
}

.js .box-file
{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.js .box-file + label
{
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}
.js .box-file + label:hover strong,
.box-file:focus + label strong,
.box-file.has-focus + label strong
{
    color: #009E41;
}
.js .box-file:focus + label,
.js .box-file.has-focus + label
{
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.js .box-file + label *
{
    /* pointer-events: none; */ /* in case of FastClick lib use */
}

.no-js .box-file + label
{
    display: none;
}

.no-js .box-button
{
    display: block;
}
.box-button
{
    font-weight: 700;
    color: #e5edf1;
    background-color: #009E41;
    display: block;
    padding: 8px 16px;
    margin: 40px auto 0;
}
.box-button:hover,
.box-button:focus
{
    background-color: #0f3c4b;
}