
<!DOCTYPE html>
<html>
<head>
    <link href="../css/admin.css" rel="stylesheet"/>
    <!-- fonts -->
    <link href='../css/jura.css' rel='stylesheet' type='text/css'>
    <link href='../css/orbitron.css' rel='stylesheet' type='text/css'>
    <link href="../css/ui-grid.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../js/base64.js"></script>
    <script type="text/javascript" src="../lib/HaxyClosures.js"></script>
    <script type="text/javascript" src="../js/jquery-2.1.4.min.js" ></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/angular-route.min.js"></script>
    <script type="text/javascript" src="../js/underscore.min.js"></script>
    <script type="text/javascript" src="../js/q.js"></script>
    <script type="text/javascript" src="../js/NuiClient.js"></script>
    <script type="text/javascript" src="../js/ui-grid.min.js"></script>
    <script type="text/javascript" src="../js/ng-storage.min.js"></script>

    <script type="text/javascript" src="../js/app.js"></script>
</head>
<body ng-app="Nulldelicious" ng-controller="Main">
<div id="content">
    <nav class="nui-nav page-section nui-dynamic-border">
        <ul class="nav-left">
            <li>
                <a href="#">
                    <img class ="logo" src="../img/Nulldelicious_03.gif"/>
                </a>
            </li>
            <li>
                <a href="#/Site" class="nui-highlight">Site</a>
            </li>
            <li>
                <a href="#/Editor" class="nui-highlight">Editor</a>
            </li>
            <li>
                <a href="#/Users" class="nui-highlight">Users</a>
            </li>
                <li>
                    <a href="#/Styles" class="nui-highlight">Styles</a>
                </li>
            <li>
                <a href="#/Images" class="nui-highlight">Images</a>
            </li>
        </ul>

        <!-- right login nav -->
        <ul class="nui-nav-right">
            <li>
                   <label class ="nui-fineprint" for="Username">User</label>
                <input  id="Username" type="text" ng-model="username">
            </li>
            <li>
                <label class="nui-fineprint" for="Password">Password</label>
                <input  id="Password" type="password" ng-model="password">
            </li>
            <!-- identity section -->
            <li ng-if="Identity !== ''">
                <label class="nui-highlight-button" ng-value="Identity"></label>
            </li>
            <li>
                <button class="nui-highlight-button" ng-click="Login(username, password)">Login</button>
            </li>
        </ul>
    </nav>

    <!--this is where our content goes for each section of the admin -->
    <div id="ContentView" class="page-section" ng-view>

    </div>


    <div id="star-pane" class="page-section">
        <div class="binary-patch">

        </div>
        <div class="binary-patch">

        </div>

        <div class="binary-patch">

        </div>
        <div class="binary-patch">

        </div>
    </div>

    <div id="description-pane" class="page-section">
        <h3 ng-repeat="message in FooterMessage()">
        {{message}}
        </h3>
    </div>

    <footer class="floating-footer" >
        <img id="return-scroller"/>
    </footer>
</div>
<div id="footer" class="nui-bootstrap-footer">
    copyright 2016 American Haxy inc.
</div>



</body>

</html>