
<!DOCTYPE html>
<html>
<head>
    <link href="../css/admin.css" rel="stylesheet"/>
    <!-- fonts -->
    <link href='../css/jura.css' rel='stylesheet' type='text/css'>
    <link href='../css/orbitron.css' rel='stylesheet' type='text/css'>
    <link href="../css/ui-grid.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../js/base64.js"></script>
    <script type="text/javascript" src="../lib/HaxyClosures.js"></script>
    <script type="text/javascript" src="../js/jquery-2.1.4.min.js" ></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/angular-route.min.js"></script>
    <script type="text/javascript" src="../js/underscore.min.js"></script>
    <script type="text/javascript" src="../js/q.js"></script>
    <script type="text/javascript" src="../js/NuiClient.js"></script>
    <script type="text/javascript" src="../js/ui-grid.min.js"></script>
    <script type="text/javascript" src="../js/ng-storage.min.js"></script>

    <script type="text/javascript">
        //route, storage, and grid dependencies
    var NullDelicious = angular.module("Nulldelicious", ["ngRoute", "ngStorage", "ui.grid"]);


    //TODO : factor out controllers into their own javascript file
    var Main = NullDelicious.controller("Main", function ($scope, $http, $localStorage, $sessionStorage, $route, $routeParams, $location)
    {
        //scope nui client scope through controller scope
        $scope.nui = nui;
        //define location in scope
        $scope.$location = $location;

        $scope.FooterMessage = function() {
            return $scope.$location.path() == '' ? ['Welcome to a deliciously simple CMS',

                'with a tiny footprint, fantastic performance',
                'and all the features you expect',
                'running on node. Nulldelicious!'] : [];
        }




    });

    var Site = NullDelicious.controller("Site", function ($scope, $http, $localStorage, $sessionStorage, $route, $routeParams, $location)
    {
        //scope nui client scope through controller scope
        $scope.nui = nui;
        //todo: remove fixture data
        $scope.GlobalSites = [
            {
                "Title" : "A small death",
                "Description" : "You know what this site is about"
            },
            {
                "Title" : "David's Blog",
                "Description" : "David's Blog"
            }

        ]
    });

    var Editor = NullDelicious.controller("Editor", function ($scope, $http, $localStorage, $sessionStorage, $route, $routeParams, $location)
    {
        //scope nui client scope through controller scope
        $scope.nui = nui;
        //todo: remove fixture data
        $scope.Posts = [
            {
                "id" : "1",
                "title" : "Star Wars Battlefront",
                "body" : "lorem ipsum dolores si amet",
                "date" : new Date(),
                "comments" : ["this is a set", "of comments"],
                "tags" : ["star wars", "games"],
                "author_name" : "David Dworetzky",
                "site_title" : "David's Blog",
                "site_description" : "David's Blog"
            },
            {
                "id" : "1",
                "title" : "Star Wars Battlefront continued",
                "body" : "lorem ipsum dolores si amet amet dolores sit ipsum",
                "date" : new Date(),
                "comments" : ["this is another set", "of comments"],
                "tags" : ["star wars", "games"],
                "author_name" : "David Dworetzky",
                "site_title" : "David's Blog",
                "site_description" : "David's Blog"
            }
        ]
    });

        var Images = NullDelicious.controller("Images", function ($scope, $http, $localStorage, $sessionStorage, $route, $routeParams, $location)
        {
            $scope.nui = nui;
            //todo: remove fixture data
            $scope.Images = [];

        });

        var Styles = NullDelicious.controller("Styles", function ($scope, $http, $localStorage, $sessionStorage, $route, $routeParams, $location)
        {
            $scope.nui = nui;
            //todo: remove fixture data
            $scope.Styles = [];
        });

    var Users = NullDelicious.controller("Users", function ($scope, $http, $localStorage, $sessionStorage, $route, $routeParams, $location)
    {
        //scope nui client scope through controller scope
        $scope.nui = nui;
        //todo: remove fixture data
        $scope.GlobalUsers = [
            {
                "id" : "1",
                "name" : "ddworetzky",
                "first" : "David",
                "last" : "Dworetzky",
                "email" : "fakeemail@gmail.com",
                "gender" : "male",
                "date" : new Date(),
                "password" : "",
                "site_title" : "David's Blog",
                "site_description" : "David's Blog",
                "role_name" : "admin",
                "role_access" : []
            }

        ]
    });

        NullDelicious.config(['$routeProvider',
    function($routeProvider, $locationProvider){
        $routeProvider.when('/Editor', {
            templateUrl: 'Editor.html', controller : "Editor"
        })
                .when('/Site', {templateUrl: 'Site.html', controller: "Site"})
                .when('/Users',{templateUrl: 'Users.html', controller : "Users"})
                .when('/Styles',{templateUrl: 'Styles.html', controller: "Styles"})
                .when('/Images',{templateUrl: 'Images.html', controller: "Images"})
    }]);

    </script>
</head>
<body ng-app="Nulldelicious" ng-controller="Main">
<div id="content">
    <nav class="nui-nav page-section nui-dynamic-border">
        <ul>
            <li><!--
                --><a href="#"><!--
                    --><img class ="logo" src="../img/Nulldelicious_03.gif"/><!--
                --></a><!--
            --></li><!--
            --><li><!--
                --><a href="#/Site" class="nui-highlight">Site</a><!--
            --></li><!--
            --><li><!--
                --><a href="#/Editor" class="nui-highlight">Editor</a><!--
            --></li><!--
            --><li><!--
                --><a href="#/Users" class="nui-highlight">Users</a><!--
            --></li><!--
                --><li><!--
                    --><a href="#/Styles" class="nui-highlight">Styles</a><!--
                --></li><!--
            --><li><!--
                --><a href="#/Images" class="nui-highlight">Images</a><!--
            --></li>
        </ul><!--

    --></nav>

    <!--this is where our content goes for each section of the admin -->
    <div id="ContentView" class="page-section" ng-view>

    </div>


    <div id="star-pane" class="page-section">
        <div class="binary-patch">

        </div>
        <div class="binary-patch">

        </div>

        <div class="binary-patch">

        </div>
        <div class="binary-patch">

        </div>
    </div>

    <div id="description-pane" class="page-section">
        <h3 ng-repeat="message in FooterMessage()">
        {{message}}
        </h3>
    </div>

    <footer class="floating-footer" >
        <img id="return-scroller"/>
    </footer>



</div>
<div id="footer" class="nui-bootstrap-footer">
    copyright 2016 American Haxy inc.
</div>



</body>

</html>