<!DOCTYPE html>
<html>
<head>
    <link href="../css/admin.css" rel="stylesheet"/>
    <!-- fonts -->
    <link href='../css/jura.css' rel='stylesheet' type="text/css"/>
    <link href='../css/orbitron.css' rel='stylesheet' type="text/css"/>
    <link href="../css/ui-grid.min.css" rel="stylesheet" type="text/css"/>

    <!-- css for upload styling -->
    <link href="../css/nui-file-upload.css" rel="stylesheet" type="text/css"/>

    <!-- skeleton css -->

    <!--
    <link href="../css/skeleton.css" rel="stylesheet" type="text/css">
    <link href="../css/normalize.css" rel="stylesheet" type="text/css">
    -->

    <script type="text/javascript" src="../js/base64.js"></script>
    <script type="text/javascript" src="../lib/HaxyClosures.js"></script>
    <script type="text/javascript" src="../js/bower_components/jquery/dist/jquery.min.js" ></script>
    <script type="text/javascript" src="../js/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../js/bower_components/angular-touch/angular-touch.min.js"></script>
    <script type="text/javascript" src="../js/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../js/underscore.min.js"></script>
    <script type="text/javascript" src="../js/q.js"></script>
    <script type="text/javascript" src="../js/NuiClient.js"></script>
    <script type="text/javascript" src="../js/bower_components/angular-ui-grid/ui-grid.min.js"></script>
    <script type="text/javascript" src="../js/ng-storage.min.js"></script>
    <!-- angular app code -->
    <script type="text/javascript" src="../js/app.js"></script>
    <!-- angular services -->
    <script type="text/javascript" src="../js/DataManager.js"></script>
    <!-- font awesome styles -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">
</head>
<body ng-app="Nulldelicious" ng-controller="Main">
<div id="content">
    <nav class="nui-nav page-section nui-dynamic-border">
        <ul class="nav-left">
            <li>
                <a href="#">
                    <img class ="logo" src="../img/Nulldelicious_03.gif"/>
                </a>
            </li>
            <li>
                <a href="#/Site" class="nui-highlight">Site</a>
            </li>
            <li>
                <a href="#/Editor" class="nui-highlight">Editor</a>
            </li>
            <li>
                <a href="#/Roles" class="nui-highlight">Roles</a>
            </li>
            <li>
                <a href="#/Users" class="nui-highlight">Users</a>
            </li>
                <li>
                    <a href="#/Styles" class="nui-highlight">Styles</a>
                </li>
            <li>
                <a href="#/Images" class="nui-highlight">Images</a>
            </li>
        </ul>

        <!-- right login nav -->
        <ul class="nui-nav-right">
            <li ng-show="Identity === ''">
                   <label class ="nui-fineprint" for="Username">User</label>
                <input  id="Username" type="text" ng-model="username">
            </li>
            <li ng-show="Identity === ''">
                <label class="nui-fineprint" for="Password">Password</label>
                <input  id="Password" type="password" ng-model="password">
            </li>
            <!-- identity section -->
            <li ng-show="Identity !== ''">
                <label class="nui-highlight-button">{{Identity}}</label>
            </li>
            <li ng-show="Identity === ''">
                <button class="nui-highlight-button" ng-click="Login(username, password)">Login</button>
            </li>
        </ul>
    </nav>

    <!-- we show our breadcrumbs if our selected site is a well defined value -->
    <div id="BreadCrumbs" class="page-section" ng-hide="!SelectedSite">
        <div id="SiteIcon" class="nui-site-icon" style="float:left;margin-left:5px"></div>
        <h2 style="float:left;margin-left:5%">{{SelectedSite}}</h2>

    </div>
    <!--this is where our content goes for each section of the admin -->
    <div id="ContentView" class="page-section" ng-view>

    </div>
    <div id="star-pane" class="page-section">
        <div class="binary-patch">

        </div>
        <div class="binary-patch">

        </div>

        <div class="binary-patch">

        </div>
        <div class="binary-patch">

        </div>
    </div>

    <div id="description-pane" class="page-section">
        <h3 ng-repeat="message in FooterMessage()">
        {{message}}
        </h3>
    </div>

    <footer class="floating-footer" >
        <img id="return-scroller"/>
    </footer>
</div>
<div id="footer" class="nui-bootstrap-footer">
    copyright 2016 Rockwood Media LLC.
</div>



</body>

</html>