<h2> Roles </h2>
<div ui-grid="RoleData" ui-grid-selection>
</div>

<h2>Role Presets</h2>
<div class="page-section nui-form">

    <div class="nui-form-group">
        <label for ="RoleName">Name</label>
        <input id="RoleName" type="text" ng-model="RoleName"/>
    </div>

     <div class="nui-form-group">
        <label for="SiteScopedCheck">Site Scoped Role</label>
         <input id="SiteScopedCheck" type="checkbox" ng-model="SiteScopedRole" name="check" class="nui-check"/>
    </div>

   <div class="nui-form-group">
       <label for="UserScopedCheck">User Scoped Role</label>
       <input id="UserScopedCheck" type="checkbox" ng-model="UserScopedRole" name="check" class="nui-check"/>
   </div>

    <table id="RoleTable">
        <tr ng-repeat="schema in roleDefinitions.schemas">
            <td>{{schema}}</td>
            <td ng-repeat="action in roleDefinitions.roles"><button ng-click="ToggleRole(schema, action)" ng-class="{'nui-highlight-button' : Highlighted(schema, action)}">{{action}}</button></td>
        </tr>
    </table>

    <div class="nui-form-group">
        <!-- save / add post button -->
        <button style="margin-left:20px;" class="nui-highlight-button nui-highlight" ng-click="RoleAction()">{{RoleActionDescriptor()}}</button>
    </div>

</div>