<h2> Roles </h2>
<div ui-grid="{data : Roles}">
</div>

<h2>Role Presets</h2>
<div class="page-section nui-form">

    <div class="nui-form-group">
        <label for ="RoleName">Name</label>
        <input id="RoleName" type="text" ng-model="RoleName"/>
    </div>

    <div class="nui-form-group">
        <label for="SiteScopedCheck">Site Scoped Role</label>
        <input id="SiteScopedCheck" type="checkbox" ng-model="SiteScopedRole"/>
    </div>

    <div class="nui-form-group">
        <label for="UserScopedCheck">User Scoped Role</label>
        <input id="UserScopedCheck" type="checkbox" ng-model="UserScopedRole"/>
    </div>

    <table id="RoleTable">
        <tr ng-repeat="schema in roleDefinitions.schemas">
            <td>{{schema}}</td>
            <td ng-repeat="action in roleDefinitions.roles"><button>{{action}}</button></td>
        </tr>
    </table>

</div>